{% load staticfiles %}

<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>DeepMare</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="manifest" href="site.webmanifest">
        <link rel="apple-touch-icon" href="icon.png">
        <!-- Place favicon.ico in the root directory -->
	    <!-- Place favicon.ico in the root directory -->
		<link rel='stylesheet' href = "{% static 'main.css' %}">
		<link rel='stylesheet' href = "{% static 'normalize.css' %}">
</head>
<body>
        <span style="font-size:30px;cursor:pointer;margin-left: 25px" onclick="openNav()">&#9776; </span>


		<!-- Menu -->
		<!-- Menu -->
        <div id="mySidenav" class="sidenav">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <a href="/">Home</a>
            <a href="/seedStart/">Start from Seed</a>
            <a href="/hybrid/">Hybrid</a>
            <a href="#">Library</a>
        </div>
		<!-- Menu -->
		<!-- Menu -->

        
		<!-- Main content page -->
		<!-- Main content page -->
        <div id="main" style="transform: translate(0, -50%)">
            <table >
                <tr>
                    <img style="width:100%;" src="static/img/splash.png" alt="Splash Image">
                </tr>
                <tr>
                    <th style="margin-left: 25px" width="200px">
                    	<h1 style="float:left;">DeepCloud</h1>
                    </th>
                    <th>
                    	<button class="startButton" onclick="startApp()" style="border-radius: 5px; padding-bottom:5px">Start
                    		<i class="fa fa-caret-down"></i>
                		</button>
                    </th>
  					
                </tr>
				<tr style="size: 10px;"><p id="names">Ardavan Bidgoli | Pedro Veloso | Shenghui Jia</p></tr>
            </table>
            <table>
                
            </table>
        </div>
		<!-- Main content page -->
		<!-- Main content page -->


	<!-- <script src="static/vendor/modernizr-3.5.0.min.js"></script> -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r83/three.min.js"></script>
	<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	<!-- <script src="\static\OBJLoader.js"></script> -->
	<script src="\static\three.js"></script>
	<script src="\static\OrbitControls.js"></script>
	<script src="\static\dat.gui.min.js"></script>
	<script src="\static\navMenu.js"></script>
	<script src="\static\indexMain.js"></script>
	</body>
</html>
